Repository poaiw-blockchain/paw: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-debug-statements, check-license-headers, validate-proto

no-debug-statements:
  name: Check for debug statements
  entry: scripts/hooks/check-debug.sh
  language: script

check-license-headers:
  name: Check license headers
  entry: scripts/hooks/check-license.sh
  language: script
  pass_filenames: true

validate-proto:
  name: Validate proto files
  entry: scripts/hooks/validate-proto.sh
  language: script
  pass_filenames: true

chore: add SonarQube configuration
  sonar-project.properties
Due: none

fix: resolve build errors in CI/CD pipeline
  .golangci.yml
  api/api_test.go
  app/app_test.go
  simapp/state.go
  tests/benchmarks/dex_bench_test.go
  tests/property/dex_properties_test.go
  x/compute/types/compute.pb.go
  x/dex/types/dex.pb.go
  x/dex/types/query.pb.go
  x/dex/types/tx.pb.go
  x/oracle/types/oracle.pb.go
Due: no-debug-statements, check-license-headers

fix: resolve additional compilation errors
  simapp/state.go
  tests/benchmarks/compute_bench_test.go
  tests/benchmarks/dex_bench_test.go
Due: no-debug-statements, check-license-headers

fix: resolve app naming, golangci config, and missing protobuf messages
  .golangci.yml
  app/app_test.go
  cmd/pawcli/main.go
  proto/paw/compute/v1/tx.proto
  proto/paw/oracle/v1/tx.proto
  tests/benchmarks/dex_bench_test.go
  tests/invariants/bank_invariants_test.go
  testutil/cometmock/setup.go
  testutil/integration/network.go
  testutil/keeper/setup.go
Due: no-debug-statements, check-license-headers, validate-proto

fix: resolve genesis state marshaling and deprecated DeliverTx usage
  testutil/cometmock/setup.go
  testutil/integration/network.go
Due: no-debug-statements, check-license-headers

fix: resolve test compilation errors and deprecated API usage
  app/app_test.go
  tests/benchmarks/dex_bench_test.go
  tests/e2e/e2e_test.go
  tests/invariants/dex_invariants_test.go
  tests/simulation/sim_test.go
  testutil/keeper/setup.go
  x/compute/keeper/keeper_test.go
  x/dex/keeper/keeper_test.go
Due: no-debug-statements, check-license-headers

fix: resolve app_test and benchmark compilation errors
  app/app_test.go
  tests/benchmarks/dex_bench_test.go
  tests/benchmarks/oracle_bench_test.go
Due: no-debug-statements, check-license-headers

fix: resolve bank and staking invariant test compilation errors
  tests/invariants/bank_invariants_test.go
  tests/invariants/staking_invariants_test.go
Due: no-debug-statements, check-license-headers

fix: resolve remaining test compilation errors across multiple modules
  app/app_test.go
  tests/benchmarks/oracle_bench_test.go
  tests/e2e/cometmock_test.go
  tests/invariants/bank_invariants_test.go
  tests/simulation/sim_test.go
  x/compute/keeper/keeper_test.go
  x/dex/keeper/keeper_test.go
Due: no-debug-statements, check-license-headers

fix: clean up unused imports and fix GetPool signature in tests
  app/app_test.go
  tests/benchmarks/dex_bench_test.go
Due: no-debug-statements, check-license-headers

fix: update GetPool calls in dex keeper tests to match actual signature
  x/dex/keeper/keeper_test.go
Due: no-debug-statements, check-license-headers

fix: correct keeper method calls and types in test files
  app/app_test.go
  tests/e2e/e2e_test.go
  tests/invariants/bank_invariants_test.go.skip
  tests/invariants/dex_invariants_test.go.skip
  tests/invariants/staking_invariants_test.go.skip
  tests/security/adversarial_test.go
  tests/security/auth_test.go
  tests/security/crypto_test.go
  tests/security/injection_test.go
  tests/simulation/sim_test.go
  x/dex/keeper/keeper_test.go
Due: no-debug-statements, check-license-headers

fix: update DEX keeper tests to use correct method signatures
  x/dex/keeper/keeper_test.go
Due: no-debug-statements, check-license-headers

fix: disable incomplete tests to allow compilation
  tests/security/adversarial_test.go.skip
  tests/security/auth_test.go.skip
  tests/simulation/sim_test.go.skip
  x/compute/keeper/keeper_test.go.skip
Due: none

fix: correct GetPool return value handling in DEX keeper tests
  x/dex/keeper/circuit_breaker_test.go
  x/dex/keeper/keeper_test.go
Due: no-debug-statements, check-license-headers

chore: run prettier formatting on markdown and config files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/testnet_issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
Due: none

chore: run gofmt and goimports on Go files
  x/compute/types/compute.pb.go
  x/dex/types/dex.pb.go
  x/dex/types/query.pb.go
  x/dex/types/tx.pb.go
  x/oracle/types/oracle.pb.go
Due: no-debug-statements, check-license-headers

docs: add CHANGELOG.md with recent changes
  CHANGELOG.md
Due: none

docs: add CONTRIBUTING.md with development guidelines
  CONTRIBUTING.md
Due: none

docs: add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

chore: add .gitattributes for consistent file handling
  .gitattributes
Due: none

docs: add comprehensive next steps guide
  NEXT_STEPS.md
Due: none

chore: harden husky pre-push checks
  .husky/pre-push
Due: none

Add comprehensive pre-commit hooks for code quality
  .pre-commit-config.yaml
Due: none

Add project-specific CLAUDE.md and AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

Add professional project files and update license to Apache 2.0
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
Due: none

Add comprehensive production roadmap for PAW blockchain
  ROADMAP_PRODUCTION.md
Due: none

Streamline ROADMAP_PRODUCTION.md for AI agent efficiency
  ROADMAP_PRODUCTION.md
Due: none

fix(types): correct bech32 test addresses for message validation tests
  x/compute/types/msgs_test.go
  x/dex/types/messages_test.go
  x/oracle/types/msg_test.go
Due: no-debug-statements, check-license-headers

fix(ibc): correct channel ordering in IBC tests
  tests/ibc/ibc_transfer_test.go
  tests/ibc/oracle_ibc_test.go
Due: no-debug-statements, check-license-headers

docs(roadmap): update Phase 1 progress - module completion verified
  ROADMAP_PRODUCTION.md
Due: none

feat(devnet): expand to 4-node testnet and update Phase 1 progress
  ROADMAP_PRODUCTION.md
  compose/docker-compose.devnet.yml
Due: none

feat(devnet): add oracle and compute module tests to smoke test
  scripts/devnet/smoke.sh
Due: none

docs(roadmap): update Phase 1 multi-node testnet progress
  ROADMAP_PRODUCTION.md
Due: none

docs: fix Go version requirement (1.25 doesn't exist, use 1.23+)
  README.md
Due: none

docs(roadmap): add comprehensive gap analysis - 100+ items identified
  ROADMAP_PRODUCTION.md
Due: none

Path conditions:
  no-debug-statements: any of: \.go$
  check-license-headers: any of: \.go$
  validate-proto: any of: \.proto$
